<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define your beans here -->
    <bean id="myFortuneService" class="edu.wctc.coachdemo.v6.HappyFortuneService">
    </bean>

    <bean id="myCricketCoach" class="edu.wctc.coachdemo.v6.CricketCoach">
        <!-- Setter injection -->
        <property name="fortuneService" ref="myFortuneService"/>

        <!-- Inject literal values -->
        <property name="emailAddress" value="bestcoach@wctc.edu"/>
        <property name="team" value="Sunrisers Hyderabad"/>
    </bean>
</beans>